@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout/_Layout.cshtml";
}

<div>
    <ul>
        <li>
            <a asp-controller="Admin" asp-action="AddExcerciseType">Create New Excercise Type</a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="AddExcercise">Create New Excercise</a>
        </li>
        <li>
            
        </li>
    </ul>
</div>